html{
	overflow: visible;
	margin: 0px auto;
}

body{
	line-height: 1.1em;
	overflow-x: hidden;
	overflow-y: auto;	
}


a{
	text-decoration: underline;
	font-weight: bold;
	color: #333;
}

a:hover{
	text-decoration: underline;
	color: rgb( 15, 92, 172 );
	cursor: pointer;
}

h2{
	padding: 5px;
	font-size: 1.2em;
	font-weight: bold;	
}

em{
	font-weight: bolder;
	font-family: 'Lato', sans-serif;
}

form{
	color: rgb( 15, 92, 172 );	
}

#container{
	display: none;
	width: 720px;
	margin: 0px auto;
	overflow: visible;
}

#header{
	margin-top: 36px;
	width: 80%;
	clear: both;
	width: 720px;
	height: auto;
	background: transparent;
	overflow: visible;
}

#header h1{
	color: #ffc;
	padding: 15px 0px;
	margin-bottom: 1.5em;
	line-height: 1.1em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 26px;
	width: 100px;
	height: 60px;
	text-align: center;
	border-radius: 0px 25%;
	background-color: #d4a00f;
	box-shadow: 5px 5px 10px #888;
	cursor: pointer;
}

#fb-root{
	display: none;	
}

#content{
	font-family: 'Lato', sans-serif;
	width: 720px;
	margin: 0px auto;
	height: 500px;
	overflow: hidden;
	background: #000 url( '../images/background.jpg' ) no-repeat scroll;
	border-radius: 0px 175px;
	box-shadow: 0px 0px 20px #888;
}
#content > div {
	width: 4.99%;
	height: 100%;
	float: left;
	color: white;
	background-color: rgba( 15, 92, 172, 0.5 );
	background-image: url( '../images/contentDivRightBorder.png' );
	background-repeat: repeat-y;
	background-position: right;
	overflow: hidden;
}

#content > div:first-child{
	width: 90%;
	color: black;
	background-color: rgba( 255, 255, 255, 0.6 );
	background-position: -1000px -1000px;
}

#content > div > h2{
	font-family: 'Paytone One', sans-serif;
	color: black;
	min-width: 600px;
	font-size: 175%;
	padding: 15px;
	height: 50px;
	background-color: rgba( 255, 255, 255, 0.8 );
	text-shadow: 5px 5px 5px #ccc;
}

#content > div > div{
	width: 100%
	height: 100%;
	padding: 1em;
	overflow: hidden;
}

#content > div > div > p{
	text-align: left;
	width: 456px;
	margin: 1em auto;
}

#mealSitePanel{}

#mealSitePanel form{
	background-color: rgba( 255, 128, 92, 0.5 );
	border-radius: 8px;
	padding: 0.25em;
	text-wrap: none;
	min-width: 608px;
	margin: auto;
}

#mealSitePanel form input:nth-of-type( 1 ){
	min-width: 400px;
}

#mealSitePanel form input:nth-of-type( 2 ){
	width: auto;
	float: right;
}

#mealSitePanel form + p, #mealSitePanel > div > p:nth-of-type( 1 ){
	display: none;	
}

#mealSitePanel p{
	font-size: 1em;
	background-color: rgb( 204, 204, 102 );
	border-radius: 7px;
}

#mealSitePanel > div p{
	padding: 0.25em;	
}

#all_mealsites{
	border-radius: 8px;
	width: 456px;
	margin: 1em auto;
	height: 357px;
	overflow-y: auto;
	overflow-x: hidden;	
}

.matchlist_panel{
	margin: 0px;
	line-height: 1em;
	font-weight: bolder;
	margin-bottom: 0.5em;
	padding: 1em;
	background-color: rgba( 15, 92, 172, 0.5 );
	border-radius: 10px;
}

.matchlist_panel p{
	font-weight: normal;
	font-size: 0.8em;
	background-color: transparent !important;
	line-height: 0.9em !important;
	margin: 0px;
	padding: 0px;
}

#findClosest{
	font-weight: bolder;
	color: darkred;	
}

#friendsPanel{}

#friendsPanel div p{
	text-wrap: normal;
	height: auto;
	width: 150px;
	margin: 1em;
	padding: .5em;
	background-color: rgba( 128, 128 , 92, 0.5 );
	border-radius: 10px;
}

#friendsPanel div p:nth-of-type(1){
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

#friendsPanel div p:last-child{
	background-color: rgba( 255, 128, 92, 0.5 );
}

#donationsPanel{}

#donationMethods, #donationBrag{
	text-wrap: normal;
	height: auto;
	width: 150px;
	margin: 1em;
	padding: .5em;
	background-color: rgba( 128, 128 , 92, 0.5 );
	border-radius: 10px;
}

#donationBrag{
	float: right;
	clear: both;
	background-color: rgba( 255, 128, 92, 0.5 )
}


#donationMethods{
	padding-left: 1.5em;
	padding-right: 0px;
	columns: 175px 3;
	-webkit-columns:175px 3; /* Safari and Chrome */
	-moz-columns:175px 3; /* Firefox */
	height: auto;
	width: 560px;
}


#donationMethods p{
	line-height: 2em;
}

#donationBrag p{
	width: auto;
	font-size: 1.2em;
	font-weight: bold;
}

#offscreen{
	position: absolute;
	left: -3000px;	
}

.textToLeft{
	text-align: left;	
}


#footer{
	margin: 15px auto;
	border-radius: 10px;
	font-family: 'The Girl Next Door', cursive;
	background-color: transparent;
	padding: 1em;
	font-size: 1em;
	
	line-height: 1em;

	overflow: visible;
	
	position: absolute;
	height: auto; /*300px;*/
	width: 225px;
	top: 9em;
	left: 2%;
}


#footer p{
	display: block;
	width: 100%;
	margin: 0px 1em 0px 0px;
	overflow: visible;
	padding: 10px;
}

#footer #num{
	text-align: center;
	font-size: 1em;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	
	float: left;
	clear: none;
	
	display:inline-block;
	padding-top: 6px;
	width:30px;
	height:20px;
	border-radius:0px 12px;
	font-size:15px;
	color:#fff;
	line-height:100%;
	text-shadow:0 1px 0 #666;
	text-align:center;
	text-decoration:none;
	box-shadow:1px 1px 2px #000;
	background-color: #d4a00f;
	margin: 0px 0.5em 0em 0px;
	opacity:0.75;
	
	overflow: visible;
	clear:none;
}

#whoFor, #header p{
	text-align: right;
	font: inherit;
}

/*
No longer like the 2-1-1 info on the side when the screen is wide enough; trying it back at the bottom to see how it looks for a while.
This overwrites the previous rules for regular positioning
@media screen and (max-width: 1260px) {} 
*/


#footer{
	margin: 15px auto;
	border-radius: 10px;
	font-family: 'The Girl Next Door', cursive;
	background-color: transparent;
	padding: 1em;
	font-size: 1em;
	width: 95%;
	
	
	line-height: 1em;

	overflow: visible;
	
	position: inherit;
}

#footer p{
	width: 100%;
	height: auto;	
}
	
